# Better Auth URL
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# Databas URI
MONGODB_URI=""

# SMPT Email And Password
SMTP_USER=""
SMTP_PASS=""


# Admin Seeder Secret
ADMIN_SEEDER_SECRET=""


# Envirnoment
NODE_ENV=""

# Base URL
NEXT_PUBLIC_BASE_URL=""

#* Sanity ENVS
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_API_VERSION=""
NEXT_SANITY_API_TOKEN=""
